@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary: #e99316;
    --secondary: #3a3a3a;
    --third: #f2f2f2;
    --fourth: #00FF9A;
    --fifth: #FF8000;
    --sixth: #1DD830;
}

body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}
/* Header Section */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background: transparent;
    transition: .5s;
    z-index: 1100;
}

header.header-scrolled {
    padding: 18px 100px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}

.logo {
    position: relative;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.logo:hover {
    color:var(--fourth)
}

.nav {
    display: flex;
    align-items: center; 
}

.nav li {
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 10px;
}

.nav li a:hover {
    color: var(--primary);
}

.util {
    display: flex;
    align-items: center;
}

.util li {
    position: relative;
    list-style: none;
    margin: 0 10px;
}

.util li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.util li a ion-icon {
    font-size: 1.6rem;
}

.util li a:hover {
    color: var(--fourth);
}

.util li .number {
    position: absolute;
    right: -1px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-weight: 400;
}

/* Mobile Menu and Navigation */

.menu {
    display: none;
    transition: 0.5s;
}

.menu ion-icon {
    color:#ffffff;
    font-size: 1.6em;
}

.menu.active {
    transform: rotateZ(45deg);
}

.nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 990;
    gap: 20px;
}

.nav-mobile.active {
    opacity: 1;
    visibility: visible;
}

.nav-mobile li {
    position: relative;
    list-style: none;
}

.nav-mobile li a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    padding: 10px;
}

/* Banner Section */
#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

/* Creates the shade*/
.woman::before,
.men::before,
.special::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 0.5s;
}

/* Removes the shade with hover  */
.woman:hover::before,
.men:hover::before,
.special:hover::before {
    background: transparent;
}

.woman {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%,75% 100%,0% 100% );
    background: var(--primary);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.men {
    position: absolute;
    top: 0;
    left: 30%;
    height:100%;
    width: 40%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 25% 50%, 0 0);
    background: var(--fifth);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special {
    position: absolute;
    top: 0;
    left: 60%;
    height:100%;
    width: 40%;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 25% 100%, 0% 50%);
    background: var(--sixth);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner.left .woman,
#banner.middle .men,
#banner.right .special {
    width: 100%;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    transition: 1s;
}

#banner.right .special {
    left: 0;
}

#banner.middle .men {
    left: 0;
}

#banner.left .men,
#banner.left .special {
    left: 120%;
}

#banner.right men,
#banner.right .woman {
    left: -120;
}

#banner.middle .woman {
    left: -120%;
}

#banner.middle .special {
    left: 120%;
}

/* Banner Images */
.woman img,
.men img,
.special img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

#banner.left .woman img {
    width: 50%;
}

#banner.middle .men img,
#banner.right .special img {
    left: 50%;
    width: 50%;
}

/*Banner Switch Button */
.switch-btn {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 300;
    margin-top: 40%;
    z-index: 1000;
    transition: 0.5s;
    transform: scale(1);
}

.switch-btn:hover {
    transform: scale(1.2);
}

/* Banner Reset Button */
.reset {
    position: absolute;
    left: 100px;
    bottom: 100px;
    z-index: 1000;
    transition: 0.5s;
}

.reset.active {
    transform: rotateZ(180deg);
}

.reset ion-icon {
    color: #ffffff;
    font-size: 3em;
    transition: 0.3s;
}

.reset ion-icon:hover {
    color: var(--primary);
}

/* Banner Content */
#banner .content {
    position: absolute;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 900;
}

#banner .content h1 {
    color: #ffffff;
    font-size: 4.5em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#banner .content p {
    color: #ffffff;
    font-weight: 200;
    font-size: 1em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#banner .content a {
    position: relative;
    width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    padding: 12px 20px;
    border: 1px solid #ffffff;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#banner .content a ion-icon  {
    font-size: 1.2em;
}

#banner .content a:hover {
    background: #ffffff;
    color: var(--primary);
}

#banner.left .woman .content,
#banner.middle .men .content,
#banner.right .special .content {
    opacity: 1;
    visibility: visible;
}

.woman .content {
    left: 55%;
}

.men .content,
.special .content {
    left:10px;
}

/* Main Section */
main {
    width:100%;
    padding: 100px 0;
    background: #ffffff;
}

/* Call Up Section */
section.call-up {
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.call-up-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    background: #ffffff;
}

.call-up-box ion-icon {
    font-size: 5em;
    color: var(--primary);
}

.call-up-box h4 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}

.call-up-box p {
    font-weight: 300;
}

/* About Section */
.about {
    padding: 100px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.about .left,
.about .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.promotion,
.discovery {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 50px;
}

.style,
.collection {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 50px;
}

.about-box {
    overflow: hidden;
}

.about-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

.about-box:hover img {
    transform: scale(1.1);
}

/* A darker shade for the box */
.about-box::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

/* Slightly brighter on hover */
.about-box:hover::after {
    background: rgba(0, 0, 0, 0.2);
}

 .about .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 900;
 }

 .about .description h4 {
    position: relative;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
 }

 .about .description h4::after {
    position: absolute;
    content: '';
    background-color: var(--primary);
    bottom: -10px;
    left: 0;
    width: 70%;
    height: 3px;
 }

 .about .description p {
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 300;
 }

 .about a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
 }

 .about a:hover {
    gap: 10px;
 }

 /* Products Section */
#products {
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
}

#product-filters {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
}

#product-filters li {
    position: relative;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
}

#product-filters li:before {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 3px;
    background: var(--primary);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#product-filters li:hover:before,
#product-filters li.filter-active::before {
    visibility: visible;
    opacity: 1;
}

.product-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item {
    position: relative;
    width: 24%;
    height: 450px;
    background: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    overflow: hidden;
}

.product-item img {
    position: relative;
    transform: scale(1);
    width: 100%;
    height: 330px;
    object-fit: cover;
    transition: 1s;
    transform-origin: bottom;
}

.product-item img:hover {
    transform: scale(1.1);
}

.product-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.product-info h4 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}

.product-info p {
    font-weight: 200;
    color:#000000;
}

.product-info .cross {
    text-decoration: line-through;
}

.product-info .price {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--primary);
}

.product-rating {
    display: flex;
    gap: 5px;
}

.product-rating li {
    list-style: none;
}

.product-rating li ion-icon {
    font-size: 1.2em;
    color: var(--primary);
}

.product-item .hot {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
    width: 50px;
    height: 30px;
    color: #ffffff;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-bag {
    position: absolute;
    bottom: 8%;
    right: 5%;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--primary);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.add-to-bag ion-icon {
    font-size: 1.6em;
}

.add-to-bag:hover {
    background: var(--third);
    color: var(--primary);
}

.loading-more a {
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    background: var(--primary);
    border: 1px solid var(--primary);
    padding: 10px 25px;
    color: #ffffff;
    font-weight: 300;
    display: inlint-flex;
    align-items: center;
    gap: 3px;
    transition: 0.3s;
}

.loading-more a:hover {
    background: #ffffff;
    color: var(--primary);
}

/* Newsletter Signup Section */
#newsletter {
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 120px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    background: #ffffff;
}

.newsletter-box {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.newsletter-box ion-icon {
    font-size: 3em;
    color: var(--primary);
}

.newsletter-box h4 {
    text-transform: 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
}

#newsletter p {
    width: 30%;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.newsletter .discount {
    color: var(--primary);
    font-size: 4em;
    font-weight: 500;
    margin-left: 10px;
}

.newsletter form {
    width: 40%;
    display: inline-flex;
    justify-content: flex-end;
}

.newsletter form input[type='text'] {
    outline: none;
    border: 1px solid var(--third);
    width: 400px;
    padding: 10px 20px;
}

.newsletter form input[type='submit'] {
    outline: none;
    border: 1px solid var(--primary);
    padding: 10px 30px;
    background: var(--primary);
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

#newsletter form input[type='submit']:hover {
    background: #ffffff;
    color: var(--primary);
}

/* Contact Section */
#contact {
    position: relative;
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contact .map {
    width: 100%;
}

.contact .info-wrap {
    margin-top: 80px;
    width: 80%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.contact .info {
    background: #ffffff;
}

.contact .info ion-icon {
    color: #ffffff;
    float: left;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.contact .info h4 {
    padding: 0 0 0 80px;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
}

.contact .info p {
    padding: 0 0 0 80px;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
}

.contact .contact-form {
    width: 80%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    background: #ffffff;
    padding: 30px 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact .contact-form .form-group {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.contact .contact-form input,
.contact .contact-form textarea {
    width: 100%;
    border-radius: 0;
    font-size: 1em;
    border: 1px solid var(--third);
    outline: none;
}

.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.contact .contact-form input {
    padding: 1em;
    height: 45px;
}

.contact .contact-form textarea {
    padding: 10px 12px;
}

.contact .contact-form .text-center {
    display: flex;
    justify-content: center;
}

.contact .contact-form button[type='submit'] {
    background: var(--primary);
    border: 1px solid var(--primary);
    color: #ffffff;
    padding: 10px 25px;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.contact .contact-form button[type='submit']:hover {
    background: #ffffff;
    color: var(--primary);
}

/* Footer Section */
footer {
    position: relatives;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    transition: 0.5s;
    z-index: 1100;
}

.sci {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    transition: 0.3;
}

.sci li .share {
    padding: 10px;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li .share:hover {
    background: #ffffff;
}

.sci li a:hover {
    color: var(--primary);
}

.footer-nav {
    display: flex;
    gap: 20px;
}

.footer-nav li {
    list-style: none;
}

.footer-nav li {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.3s;
}

.footer-nav li:hover {
    color: var(--primary)
}

.ask-us {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.ask-us p {
    color: #ffffff;
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.chat {
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3ss;
}

.chat:hover {
    background: #ffffff;
    color: var(--primary);
}

/* Back to Top Button */
.back-to-top {
    visibility: hidden;
    opacity: 0;
    right: 15px;
    border: 30px;
    bottom: 30px;
    background: var(--primary);
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.back-to-top ion-icon {
    font-size: 1.5em;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Responsive Design */
@media (max-width: 600px) {
    header.header-scrolled {
        padding: 15px 20px;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
    }

    .nav {
        display: none;
    }
    .util {
        display: none;
    }
    .menu {
        display: block;
    }

    /* Banner Section */
    #banner {
        padding: 0 20px;
    }

    .woman {
        height: 40%;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    }

    .men {
        top: 30%;
        left: 0;
        height: 40%;
        width: 100%;
        clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0% 100%, 0 0, 50% 25%);
    }

    #banner.left .woman,
    #banner.middle.men,
    #banner.right .special {
        height: 100%
    }

    #banner.right .special {
        top: 0;
    }

    #banner.middle .men {
        top: 0;
    }

    #banner.left .men,
    #banner.left .special {
        top: 120%;
    }

    #banner.left .men,
    #banner.left .woman {
        top: -120%;
    }

    #banner.middle .woman {
        top: -120%;
    }

    #banner.middle .special {
        top: 120%;
    }

    .switch-btn {
        font-size: 4em;
        margin-top: 0;
    }

    #banner.left .woman img {
        height: 50%;
        width: 100% !important;
    }

    #banner.middle .men img,
    #banner.right .special img {
        left: 0;
        top: 50%;
        height: 50%;
        width: 100% !important;
    }

    #banner .content h1 {
        font-size: 2.5em;
        font-weight: 400;
    }

    .women .content {
        left: 20px;
        top: 60%;
    }

    .men .content {
        left: 20px;
        top: 15%;
    }

    .reset {
        left: 20px;
        bottom: 20px;
    }

    .reset ion-icon {
        font-size: 2em;
    }

    /* Call Up Section */
    section.call-up {
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    /* About Section */
    .about {
        padding: 100px 10px 0;
        flex-wrap: wrap;
    }

    .about .left,
    .about .right,
    .promotion,
    .discovery {
        width: 100%;
    }
    
    /* Products Section */
    #products {
        padding: 100px 10px 50px;
        gap: 50px;
    }

    #products-filter {
        padding: 100px 10px 50px;
        gap: 25px;
    }

    .product-container {
        flex-wrap: wrap;
    }
    .product-item {
        width: 100%;
    }

    /* Newsletter Section */
    #newsletter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .newsletter-box {
        width: 100%;
    }

    #newsletter p {
        width: 100%;
    }

    #newsletter form {
        width:100%;
    }

    #newsletter form input[type='text'] {
        width: 250px;
    }

    /* Contact Section */
    #contact {
        padding: 50px 0 0;
    }

    .contact .info-wrap {
        flex-wrap: wrap;
        width: 90%;
        gap: 30px;
    }
    
    .contact .contact-form {
        width: 90%;
    }

    /* Footer Section */
    footer {
        padding: 20px;
    }

    .footer-nav {
        display: none;
    }
}